<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="commons/header :: common-header(~{::title}, ~{})">
    <title>主页</title>
</head>
<body>
<!-- Header -->
<div th:replace="commons/header :: header"></div>
<div class="container">
    <div layout:fragment="content">
        <p>original data</p>
    </div>
    <hr>
    <footer>
        <div th:replace="commons/footer :: footer(~{})"></div>
    </footer>
</div>
</body>
</html>
