<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}" lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemalocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-12 col-sm-9" th:id="majors-contain" th:fragment="majors-contain">
                <!-- 左侧可以展示同类专业 -->
                <!--<div class="col-xs-4 col-sm-2 sidebar-offcanvas">
                              <div class="list-group">
                                  &lt;!&ndash;/*@thymesVar id="subjects" type="com.hrong.major.model.Subject"*/&ndash;&gt;
                                  <a class="list-group-item active" th:href="@{'/majors/'+${subject.id}(page=1, size=20)}"
                                     th:each="subject:${subjects}">
                                      <button class="btn btn-default btn-group-justified" th:text="${subject.name}"></button>
                                  </a>
                              </div>
                          </div>-->
                <!--                <div class="row">-->
                <div class="detail_div">
                    <!--/*@thymesVar id="subjects" type="com.hrong.major.model.Major"*/-->
                    <!-- 专业名字 -->
                    <h1 th:text="${detailVo.detail.name}" class="text-center"></h1>
                    <br />
                    <p th:text="视频在文字下方哦" class="text-center text-danger text-nowrap" th:if="${detailVo.videos.size() gt 0}"></p>
                    <br />
                    <p><strong th:text="专业描述" th:class="text-info"></strong></p> &nbsp;&nbsp;
                    <p th:text="${detailVo.detail.description}" class="text-justify major_info"></p>
                    <hr />
                    <p><strong th:text="核心课程" th:class="text-info"></strong></p> &nbsp;&nbsp;
                    <p th:text="${detailVo.detail.course}" class="text-justify major_info"></p>

                    <hr />
                    <p><strong th:text="就业方向" th:class="text-info"></strong></p> &nbsp;&nbsp;
                    <p th:text="${detailVo.detail.job}" class="text-justify major_info"></p>
                    <!-- 该专业的视频信息 -->
                    <h2 th:if="${detailVo.videos.size() gt 0}">相关视频</h2>
                    <ul th:each="video:${detailVo.videos}" class="video_ul">
                        <li class="small_item"> <a th:href="${video.url}" target="_blank" th:text="${video.title}" th:class="title"></a><br /> <span th:text="'发布时间：'+${video.pubtime}"></span>
                            <div class="row video_info">
                                <div class="col-xs-12 col-lg-6">
                                    <span class="text-justify">视频来源：</span>
                                    <strong th:class="text-danger" th:text="${video.sourceName}"></strong>
                                </div>
                                <div class="col-xs-12 col-lg-6">
                                    <span class="text-justify">视频提供者：</span>
                                    <strong th:class="text-danger"> <a th:href="${video.upPage}" target="_blank" th:text="${video.upName}"></a> </strong>
                                </div>
                                <!--                                <div class="col-xs-12 col-lg-4"><span class="text-justify">视频时长：</span><strong th:class="text-danger" th:text="${video.duration}"></strong></div>-->
                            </div> <a th:href="${video.url}" target="_blank" th:class="cover_a"> <img th:src="@{'/cover/'+${video.coverName}}" th:alt="${video.title}" th:class="cover_img" /> <span th:text="${video.duration}" th:class="duration"></span> </a> <p> <a th:if="${video.intro} != ''" class="text-justify">视频介绍：</a><span class="text-justify" th:text="${video.intro}"></span> </p>
                            <hr /> </li>
                    </ul>
                </div>
                <a class="btn btn-primary btn-next" th:if="${nextId} gt 0" th:href="@{'/major/info/'+${nextId}}">查看下一个专业介绍</a>
                <a class="btn btn-primary btn-next" th:if="${nextId} gt 0" th:href="@{'/majors/'+${currentSubject.id}(page=1, size=15)}">看看其它专业</a>
                <a class="btn btn-warning btn-next" th:if="${nextId} eq 0" th:href="@{'/majors/'+${currentSubject.id}(page=1, size=15)}">已经没有啦，看看其它专业</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>