<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/header :: common-header(~{}, ~{::link})">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>

<div class="foot" style="position: absolute; bottom: 0; margin-left: 45%" th:fragment="footer(script)">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
<!--    <script th:src="@{/js/common.js}"></script>-->
    <script th:src="@{/layer/layer.js}"></script>
    <th:block th:replace="${script}"/>
    <p th:text="${conf.footer}">&copy; 2016 Company, Inc.</p>
</div>
</html>