<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head th:replace="commons/header :: common-header(~{::title}, ~{})">
    <title>搜索组件</title>
</head>
<body>
<div th:fragment="search-component">
    <div class="container">
        <form class="form-horizontal">
            <div class="form-group search_form">
                <label for="major_name" class="col-md-1 col-xs-4 control-label search_label_align_left">专业名称：</label>
                <div class="col-md-7 col-xs-6">
                    <input type="text" class="form-control" id="major_name" placeholder="输入想搜索的专业名称吧~">
                </div>
                <div class="col-md-2 col-xs-2">
                    <button type="submit" class="btn btn-info">搜一搜</button>
                </div>
            </div>
        </form>
    </div>
</div>
<footer>
    <div th:replace="commons/footer :: footer(~{})"></div>
</footer>
</body>
</html>