<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/header :: common-header(~{}, ~{::link})">
    <link rel="stylesheet" th:href="@{/css/search.css}">
</head>
<body>
<div th:fragment="search-component">
    <div class="container">
        <form class="form-horizontal" th:action="@{/majors}" th:method="post" th:object="${searchVo}">
            <div class="form-group search_form">
                <div class="col-xs-8 col-sm-7 col-md-7 col-lg-7">
                    <input class="form-control input-lg" placeholder="输入想搜索的专业名称吧~" th:field="*{name}"
                           required type="text">
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button class="btn btn-info btn-lg" type="submit">搜一搜</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>