<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="footer(script)">
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/bootstrap-table.min.js}"></script>
        <script th:src="@{/js/bootstrap-table-zh-CN.min.js}"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <script th:src="@{/js/holder.min.js}"></script>
        <script th:src="@{/layer/layer.js}"></script>
        <script th:src="@{/js/admin/common.js}"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
        <th:block th:replace="${script}"/>
    </div>
</body>
</html>