<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- 左侧导航栏 -->
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 sidebar" th:fragment="sidebar">
    <ul class="nav nav-sidebar">
        <li class="list-group-item-success"><a th:href="@{/admin}">首页</a></li>
        <li class="list-group-item-danger"><a th:href="@{/admin/subject}">专业类别</a></li>
        <li class="list-group-item-success"><a th:href="@{/admin/major}">专业</a></li>
        <li class="list-group-item-danger"><a th:href="@{/admin/major/detail}">专业详情</a></li>
        <li class="list-group-item-success"><a th:href="@{/admin/video}">视频信息</a></li>
        <li class="list-group-item-success"><a th:href="@{/admin/video/contribute}">视频审核</a></li>
        <li class="list-group-item-success"><a th:href="@{/admin/video/author}">作者视频信息</a></li>
        <li class="list-group-item-danger"><a th:href="@{/admin/log}">访问记录</a></li>
        <li class="list-group-item-danger"><a th:href="@{/admin/conf}">配置</a></li>
        <li class="list-group-item-danger"><a th:href="@{/admin/video/needs}">视频需求</a></li>
        <li class="list-group-item-danger"><a th:href="@{/admin/contact/message}">网站留言</a></li>
        <li class="list-group-item-danger"><a th:href="@{/admin/major/detail/update}">专业详情修改</a></li>
    </ul>
</div>
</body>
</html>