.nav_color {
    background-color: darkslategray;
}
/* 导航栏文字 */
.navbar-inverse .navbar-nav>li>a {
    color: whitesmoke;
    font-size: 1em;
    font-weight: normal;
    padding-top: 1em;
    padding-bottom: 0.6em;
}
/* 网站标题 */
.navbar-inverse .navbar-header>a {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    padding-top: 0.9em;
    padding-bottom: 0.5em;
    margin-right: 3em;
}