.major_ul {
    padding: 0;
}
.major_li {
    text-align: center;
    margin: 2em 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

.major_a {
    height: 100%;
    font-size: 2em;
}

/*翻页属性*/
.disable-a {
    opacity: 0.2;
    color: darkgray;
}

.subjects a {
    margin-right: 1em;
}

.subjects > a > button {
    margin-bottom: 1em;
}

.active-btn {
    background-color: #e6e6e6;
    border: 2px solid #adadad;
    font-size: x-large;
    font-weight: bold;
    color: #8f4242;
}

.search_major_li {
    text-align: center;
    margin: 2em 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    padding: 0 30%;
}

.search_subject {
    font-size: 1.3em;
}

.search_major_name {
    font-size: 2em;
}

.sub-desc {
    line-height: 2em;
    word-wrap: break-word !important;
    word-break: break-all !important;
    white-space: normal !important;
}
.hot-search-span{
    font-size: 1.5em;
    font-weight: bold;
    color: #ab9645;
}
.btn-search {
    margin-right: 1.5em;
}