.top {
    border: 0;
    margin: 0 auto;
    font-size: large;
}
.top thead th, .top tbody td{
    padding: 0.5em 0.5em;
}
.up_face {
    width: 1em;
    border-radius: 50%;
}
.author_link {
    text-decoration: none;
}