<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/header :: common-header(~{}, ~{::link})">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>
<!-- Header -->
<div th:replace="commons/header :: header"></div>

<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 col-md-offset-1 col-sm-offset-1">
            <!--<p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>-->
            <!-- 信息展示位置 -->
            <div  class="show_div">
                <img alt="" class="show_img" th:src="@{cover/1c8e2b974c543582117948b670375434d8001abd.jpg}">
            </div>
            <div class="index_search">
                <div th:replace="commons/search :: search-component"></div>
            </div>
            <!-- 专业种类展示 -->
            <h2 class="center-block" th:text="专业种类"></h2>
            <div class="row">
                <!--/*@thymesVar id="subjects" type="com.hrong.major.model.SubjectCategory"*/-->
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 subject-container" th:each="subject:${subjects}">
                    <a th:href="@{'/majors/'+${subject.id}(page=1, size=15)}">
                        <h2>[[${subject.name}]]</h2>
                        <p><span class="btn btn-default" role="button">查看专业&raquo</span></p>
                    </a>
                </div>
            </div>
        </div>
        <!--<div class="col-xs-6 col-md-3 sidebar-offcanvas" id="sidebar">
            <div class="list-group">
                <a class="list-group-item active" href="#">Link</a>
                <a class="list-group-item" href="#">Link</a>
                <a class="list-group-item" href="#">Link</a>
                <a class="list-group-item" href="#">Link</a>
                <a class="list-group-item" href="#">Link</a>
                <a class="list-group-item" href="#">Link</a>
                <a class="list-group-item" href="#">Link</a>
                <a class="list-group-item" href="#">Link</a>
                <a class="list-group-item" href="#">Link</a>
                <a class="list-group-item" href="#">Link</a>
                <a class="list-group-item" href="#">Link</a>
                <a class="list-group-item" href="#">Link</a>
                <a class="list-group-item" href="#">Link</a>
                <a class="list-group-item" href="#">Link</a>
                <a class="list-group-item" href="#">Link</a>
                <a class="list-group-item" href="#">Link</a>
                <a class="list-group-item" href="#">Link</a>
            </div>
        </div>-->
    </div>
</div>
<footer>
    <div th:replace="commons/footer :: footer(~{})"></div>
</footer>
</body>
</html>
