<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/header :: common-header(~{::title}, ~{::link})">
    <title>关于</title>
    <link rel="stylesheet" th:href="@{/css/about.css}">
</head>
<body>
<!-- Header -->
<div th:replace="commons/header :: header"></div>
<div class="content_container">
    <div class="welcome_info">
        <img alt="" src="img/p1.jpg" th:src="@{img/p1.jpg}">
        <img alt="" src="img/p2.jpg" th:src="@{img/p2.jpg}">
        <img alt="" src="img/p3.jpg" th:src="@{img/p3.jpg}">
    </div>
    <p><a th:href="@{/}">
        <button class="btn btn-group-lg btn-success" style="width: 50%;margin: 0 25%" th:text="${conf.hABtn}">开始浏览
        </button>
    </a></p>

    <!--    </div>-->
</div>
<footer>
    <div th:replace="commons/footer :: footer(~{})"></div>
</footer>
</body>
</html>