<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/header :: common-header(~{::title}, ~{})">
    <title>联系我</title>
</head>
<body>
<!-- Header -->
<div th:replace="commons/header :: header"></div>
<div class="container">
    <h2 class="text-center"  style="margin-bottom: 2em" th:if="not ${msg}" th:text="${conf.hCContent}">若有需要，可以在下面留言，也可以直接联系QQ：1011486768</h2>
    <h2 class="text-center text-success" th:if="msg" th:text="${msg}"></h2>
    <form class="form-horizontal" th:action="@{/contact/message}" th:if="not ${msg}" th:method="post" th:object="${message}">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="contact">联系方式(qq或者微信)</label>
            <div class="col-sm-10">
                <input class="form-control" id="contact" placeholder="方便我联系您哟~不会泄露您的联系方式" required th:field="*{contact}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="content">留言内容</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="content" required rows="4" th:field="*{content}"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary btn-block" type="submit">留言</button>
            </div>
        </div>
    </form>
</div>
<footer>
    <div th:replace="commons/footer :: footer(~{})"></div>
</footer>
</body>
</html>