<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrong.major.dao.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hrong.major.model.Comment">
        <id column="id" property="id" />
        <result column="content" property="content" />
        <result column="major_detail_id" property="detailId" />
        <result column="time" property="time" />
        <result column="up_count" property="upCount" />
        <result column="ip" property="ip" />
    </resultMap>

</mapper>
