<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrong.major.dao.MajorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hrong.major.model.Major">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="description" property="description" />
        <result column="is_right" property="isRight" />
        <result column="is_wrong" property="isWrong" />
        <result column="detail_url" property="detailUrl" />
        <result column="order" property="orderNumber" />
        <result column="job_prospect" property="jobProspect" />
        <result column="course" property="course" />
        <result column="ability" property="ability" />
        <result column="subject_id" property="subjectId" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
